.root {
  .label {
    font-size: 0.9em;
    font-weight: bold;
  }
  .WeatherApp {
    display: flex;
    .InputTest {
      margin-right: 23px;
      .input {
        width: 400px;
        height: 30px;
        padding: 5px 15px;
        opacity: 0.8;
        border: 1px solid;
        border-radius: 4px;
      }
    }
    button {
      padding: 10px 23px;
      border: none;
      border-radius: 4px;
      background-color: #2185d0;
      color: #fff;
      font-weight: bold;
      font-size: 0.9em;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
